.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: var(--bgDarkGray);
  height: 80px;
  border-radius: 5px;
  color: var(--btn-logout-text-color);
  cursor: pointer;
}