.SidebarMenuContainer {
  max-height: 100vh;
  width: 20vw;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: black;
}

@media (max-width: 1400px) {
  .SidebarMenuContent {
    width: 240px;
  }
}

.SidebarMenuContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.SidebarMenuContent::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "track" de la barra de desplazamiento (el fondo) */
.SidebarMenuContent::-webkit-scrollbar-track {
  background-color: #ffffff; /* Color de fondo del track */
}

/* Estilo para el "thumb" de la barra de desplazamiento (la manija) */
.SidebarMenuContent::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la manija */
  border-radius: 6px; /* Borde redondeado de la manija */
}

/* Estilo para el "thumb" de la barra de desplazamiento cuando se desplaza */
.SidebarMenuContent::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Color de la manija al pasar el mouse */
}

.midSection {
  height: 100%;
}